@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*::after, *::before {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}
*[type=checkbox], *[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

nav, footer, header {
  display: block;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._text-center {
  text-align: center;
}

._title {
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #2962EF;
}

._subtitle {
  font-size: 20px;
  color: #232427;
}

._button {
  background: transparent;
  border: 1px solid yellow;
  border-radius: 15px;
  text-transform: uppercase;
  color: yellow;
  padding: 10px 20px;
  transition: all 0.3s ease-in;
}
._button:hover {
  background: yellow;
  color: #000;
}

.accordion,
.accordion-second {
  width: 100%;
}
.accordion__item,
.accordion-second__item {
  margin-bottom: 12px;
  border: 1px solid #606060;
  border-radius: 15px;
  transition: all 0.3s ease-in;
}
.accordion__item:hover .accordion__title,
.accordion-second__item:hover .accordion__title {
  color: gray;
}
.accordion__num,
.accordion-second__num {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 34px;
  color: #000;
  margin-right: 72px;
}
.accordion__title,
.accordion-second__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  color: #000;
  padding: 20px 40px 20px 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.accordion__title::after, .accordion__title::before,
.accordion-second__title::after,
.accordion-second__title::before {
  content: " ";
  width: 14px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease;
}
.accordion__title::before,
.accordion-second__title::before {
  transform: rotate(45deg);
  right: 28px;
}
.accordion__title::after,
.accordion-second__title::after {
  transform: rotate(-45deg);
  right: 18px;
}
.accordion__text,
.accordion-second__text {
  display: none;
  padding: 16px 19px 16px 100px;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}
.accordion__text .accordion__text p,
.accordion-second__text .accordion__text p {
  margin-bottom: 18px;
}
.accordion__title-second,
.accordion-second__title-second {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  color: #000;
  padding: 20px 40px 20px 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.accordion__title-second::after, .accordion__title-second::before,
.accordion-second__title-second::after,
.accordion-second__title-second::before {
  content: " ";
  width: 14px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease;
}
.accordion__title-second::before,
.accordion-second__title-second::before {
  transform: rotate(90deg);
  right: 18px;
}
.accordion__title-second::after,
.accordion-second__title-second::after {
  transform: rotate(180deg);
  right: 18px;
}
.accordion__text-second,
.accordion-second__text-second {
  display: none;
  padding: 16px 19px;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}
.accordion__text-second .accordion__text p,
.accordion-second__text-second .accordion__text p {
  margin-bottom: 18px;
}
.accordion .accordion__title-second.active,
.accordion-second .accordion__title-second.active {
  background: transparent;
}
.accordion .accordion__title-second.active::before,
.accordion .accordion__title-second.active::before,
.accordion-second .accordion__title-second.active::before,
.accordion-second .accordion__title-second.active::before {
  transform: rotate(180deg);
  right: 18px;
}
.accordion .accordion__title-second.active::after,
.accordion-second .accordion__title-second.active::after {
  transform: rotate(180deg);
  right: 18px;
}
.accordion .accordion__title-second.active::before,
.accordion .accordion__title-second.active::after,
.accordion-second .accordion__title-second.active::before,
.accordion-second .accordion__title-second.active::after {
  background: #000;
}
.accordion .accordion__title-second::after,
.accordion-second .accordion__title-second::after {
  right: 18px;
}

.active {
  color: #B09355;
  background: transparent;
}

@media screen and (max-width: 1260px) {
  .services-section {
    padding: 94px 0;
  }
  .services {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .accord__item {
    margin: 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .accordion__title {
    padding: 30px 40px 30px 0;
  }
  .accordion__title-second {
    padding: 30px 40px 30px 0;
  }
}
@media screen and (max-width: 480px) {
  .accordion__title {
    font-size: 1rem;
  }
  .accordion__title-second {
    font-size: 1rem;
  }
}
.slider {
  border: 1px solid #000;
  border-radius: 15px;
  margin: 50px 0;
  text-align: center;
  /* Navigation */
}
.slider__list {
  border-radius: 15px;
  background: #e3df76;
  padding: 50px 0;
  height: 300px;
}

/* arrow */
/* dots */
.popup-block {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
}

/* POPUP */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 99;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  color: #fff;
  max-width: 662px;
  padding: 50px 50px;
  background: #01040D;
  border-radius: 4px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup__img img {
  min-width: 100%;
  height: 100%;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translate(0px, 0);
  opacity: 1;
}

.form {
  margin: 0 auto;
  color: #888;
}
.form__body {
  position: relative;
}
.form__body::after {
  content: "Отправка...";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.form__body._sending .form__body::after {
  visibility: visible;
  opacity: 1;
}
.form__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
.form .form-block-input {
  display: flex;
  gap: 20px;
}
@media (max-width: 479.98px) {
  .form .form-block-input {
    flex-wrap: wrap;
  }
}
.form__item-two {
  flex: 1 1 50%;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  transition: border 0.3s;
}
.form__input:focus {
  box-shadow: 0 0 15px #c2c2c2;
}
.form__input:hover {
  border: 1px solid rgba(0, 146, 15, 0.9921568627);
}
.form__input._error {
  border: 1px solid red;
}
.form textarea {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
  box-sizing: border-box;
}
.form textarea:hover {
  border-color: 1px solid rgba(0, 146, 15, 0.9921568627);
}
.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: rgba(0, 146, 15, 0.9921568627);
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s;
}
.form__button:hover {
  background-color: rgba(1, 72, 8, 0.9921568627);
}
.form__button:active {
  top: 3px;
}

.options {
  margin-top: 10px;
}
.options__item {
  margin-bottom: 10px;
}
.options__input {
  display: none;
}
.options__input:checked + .options__label::after {
  transform: scale(1);
}
.options__label {
  display: inline-flex;
  line-height: 140%;
  align-items: center;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}
.options__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-right: 10px;
}
.options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #06fa1e;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s;
}

.select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 20px;
  border: 1px solid #c2c2c2;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #77608d;
  padding: 0 20px;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
}
.file__preview img {
  max-width: 100%;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__label {
  width: 100%;
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  flex: 0 0 24px;
  align-self: flex-start;
  height: 24px;
  background-color: #888;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: #06fa1e;
  border-radius: 4px;
  transform: scale(0);
  transition: all 0.3s;
}

.tabs {
  margin-bottom: 50px;
}
.tabs__items {
  display: flex;
}
.tabs__item {
  flex: 0 1 33.33%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #000;
}
.tabs__item span {
  position: relative;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .tabs .tabs__item span {
    display: block;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    padding: 0 5px;
  }
}
.tabs__block {
  display: none;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}
.tabs__block::before {
  content: "";
  height: 50px;
  width: 33.33%;
  position: absolute;
  top: -50px;
}
.tabs__block.t-open {
  display: block;
}
.tabs__block:nth-child(1), .tabs__block:nth-child(1)::before {
  background-color: #eb8698;
}
.tabs__block:nth-child(1)::before {
  left: 0;
}
.tabs__block:nth-child(2), .tabs__block:nth-child(2)::before {
  background-color: #9278aa;
}
.tabs__block:nth-child(2)::before {
  left: 33.33%;
}
.tabs__block:nth-child(3), .tabs__block:nth-child(3)::before {
  background-color: #97c67d;
}
.tabs__block:nth-child(3)::before {
  right: 0;
}

[class*=header__container] {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid #000;
  background: #c2c2c2;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #000;
  background: #c2c2c2;
  z-index: 2;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  min-height: 70px;
}
@media (max-width: 767.98px) {
  .header .header__container {
    padding: 0 15px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: aqua;
  position: relative;
  z-index: 5;
}
.menu__body {
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .menu .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    background-color: rgba(194, 194, 194, 0.95);
    padding: 100px 15px 20px 0px;
    transition: left 0.3s;
    overflow: auto;
    z-index: 1;
  }
  .menu .menu__list {
    flex-direction: column;
    gap: 35px;
  }
  .menu .menu__link {
    font-size: 20px;
  }
  .menu .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    background: transparent;
  }
  .menu .icon-menu .icon-menu__line, .menu .icon-menu::before, .menu .icon-menu::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    transition: all 0.3s;
  }
  .menu .icon-menu .icon-menu__line {
    top: calc(50% - 1px);
  }
  .menu .icon-menu::before {
    top: 0;
  }
  .menu .icon-menu::after {
    bottom: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.menu__item:last-child {
  background: #1046ce;
  border-radius: 15px;
  padding: 10px 20px;
  color: #fff;
  transition: color 0.3s;
  cursor: pointer;
}
.menu__item:last-child:hover {
  color: aqua;
}
.menu__link {
  font-size: 18px;
  transition: color 0.3s;
}
.menu__link:hover {
  color: aqua;
}
.menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu .icon-menu__line {
    left: 50%;
    width: 0px;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu-open body {
  overflow: hidden;
}

.icon-menu {
  display: none;
}
.page {
  padding-bottom: 50px;
}
.page__container {
  line-height: 1.5;
  display: grid;
  gap: 15px;
}
.page__title {
  font-weight: 700;
  color: rgb(255, 60, 0);
}

.block-footer {
  padding: 65px 0;
  background: #c2c2c2;
  color: #fff;
  border-top: 1px solid #000;
}
@media (max-width: 767.98px) {
  .block-footer {
    padding: 30px 0 40px 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer__item {
  max-width: 345px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer__item {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
.footer__logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
}
.footer__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #D6D5DF;
  margin-top: auto;
}
@media (max-width: 767.98px) {
  .footer__copy {
    margin-top: 20px;
  }
}
.footer__form-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
@media (max-width: 767.98px) {
  .footer__form-title {
    margin-top: 30px;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #2962EF;
  border-radius: 100%;
}
.footer__link:hover path {
  fill: #c2c2c2;
  transition: 0.3s all ease;
}

.block {
  margin: 50px 0;
}
.block__list {
  border-radius: 15px;
  border: 1px solid #000;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .block__list {
    flex-wrap: wrap;
  }
}
.block__item {
  flex: 1 1 50%;
}
.block .block__item img {
  max-width: 100%;
}

.block-img-text {
  background: url(https://upload.wikimedia.org/wikipedia/ru/1/1d/%D0%91%D0%B5%D0%B7%D0%BC%D1%8F%D1%82%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D1%8C.png) no-repeat center/cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  -webkit-animation: text-img 7s linear infinite alternate;
          animation: text-img 7s linear infinite alternate;
}

@-webkit-keyframes text-img {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes text-img {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
/* .project__img {
   position: relative;
   overflow: hidden;
   padding-bottom: 100%;
}
.project__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: all .8s;
}
.project__img:hover img {
   transform: scale(1.05);
} */
.hero {
  padding-top: 70px;
  background: url("../img/slide1.png") center;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  overflow: clip;
}

body.lock {
  overflow: hidden;
}