.brands {
   margin-top: 50px;
   margin-bottom: 150px;

   // .brands__list
   &__list {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
      // flex: 1 1 25%;
   }

   // .brands__item
   // &__item {
   //    // flex: 1 1 25%;
   // }

   // .brands__img
   &__img {
      max-width: 230px;
      max-height: 70px;
      box-sizing: border-box;
   }
}

@media (max-width: $breakpoint1024) {
   .brands {
      margin-bottom: 100px;
   }
}
@media (max-width: $breakpoint480) {
   .brands__list {
      justify-content: center;
   }
}