.block-footer {
   // padding: 65px 0 ;
   background: $textPrimeryColor;
   color: #fff;
   border-top: 1px solid #000;

   @media (max-width: $breakpoint768) {
      padding: 30px 0 0px 0;
   }
}

.block-footer-bottom {
   background: radial-gradient(61.39% 203.97% at 56.88% 47.53%, #333333 0%, #1A1B1C 100%);
   padding: 17px 0;

   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;

   color: #FFFFFF;
}
.footer {
   padding: 50px 0;
   display: flex;
   justify-content: space-between;
   gap: 30px;

   @media (max-width: $breakpoint1024) {
      flex-wrap: wrap;
      justify-content: space-around;
   }
   @media (max-width: $breakpoint480) {
      padding: 20px 0;
   }
   
   // .footer__item
   &__item {
      max-width: 306px;
      display: flex;
      flex-direction: column;
      
      @media (max-width: $breakpoint480) {
         flex: 0 1 100%;
         max-width: 100%;
         justify-content: flex-start;
      }
   }

   // footer__block-logo
   &__block-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
   }

   // .footer__logo
   &__logo {
      font-weight: 800;
      font-size: 18px;
      line-height: 18px;
   }

   // .footer__text
   &__text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-transform: uppercase;
      
      color: $textColor;
   }

   &__text-logo {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      
      text-transform: uppercase;
      
      color: $textColor; 
   }

   &__link {
      transition: all .3s ease;
      &:hover {
         color: $buttonColor;
      }
   }


   // .footer__form-title
   &__form-title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 24px;
      color: $titleColor;

      margin-bottom: 30px;

      @media (max-width: $breakpoint768) {
         margin-top: 30px;
      }
   }
}
