.form {
   max-width: 550px;
   margin: 0 auto;
   color: #888;



   // .form__body
   &__body {
      position: relative;

      &::after {
         content: 'Отправка...';
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.2);
         opacity: 0;
         visibility: hidden;
         transition: all .3s;
      }

      &._sending {
         .form__body::after {
            visibility: visible;
            opacity: 1;
         }
      }
   }

   // .form__title
   &__title {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px;
   }

   // .form__item
   &__item {
      margin-bottom: 20px;
   }

   // .form__label
   &__label {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
   }

   // .form__input
   &__input {
      height: 50px;
      padding: 0 20px;
      border-radius: 5px;
      width: 100%;
      font-size: 18px;
      border: 1px solid #c2c2c2;

      &:focus {
         box-shadow: 0 0 15px #7a956b;
      }

      &._error {
         box-shadow: 0 0 15px red;
      }
   }
   // textarea
   textarea {
      min-height: 120px;
      resize: vertical;
      padding: 20px;
   }

   // .form__button
   &__button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      background-color: #00920ffd;
      color: #fff;
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer;
      border-radius: 20px;
      transition: all .3s;

      &:hover {
         background-color: #014808fd;
      }

      &:active {
         top: 3px;
      }
   }
}
.options {
   margin-top: 10px;
   // .options__item
   &__item {
      margin-bottom: 10px;
   }

   // .options__input
   &__input {
      display: none;

      &:checked + .options__label::after {
         transform: scale(1);
      } 
   }

   // .options__label
   &__label {
      display: inline-flex;
      line-height: 140%;
      align-items: center;
      position: relative;
      font-size: 16px;
      cursor: pointer;

      &::before {
         content: '';
         align-self: flex-start;
         flex: 0 0 24px;
         height: 24px;
         background-color: #c2c2c2;
         border-radius: 50%;
         margin-right: 10px;
      }

      &::after {
         content: '';
         position: absolute;
         top: 4px;
         left: 4px;
         width: 16px;
         height: 16px;
         background-color: #06fa1e;
         border-radius: 50%;
         transform: scale(0);
         transition: all .3s;
      }
   }
}
.select {
   height: 50px;
   width: 100%;
   border-radius: 5px;
   font-size: 18px;
   padding: 0 20px;
}
.file {

   // .file__item
   &__item {
      position: relative;
   }

   // .file__input
   &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 0;
      cursor: pointer;
   }

   // .file__button
   &__button {
      display: inline-flex;
      min-height: 40px;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      background-color: #77608d;
      padding: 0 20px;
   }

   // .file__preview
   &__preview {
      display: inline-block;
      max-width: 100px;

      img {
         max-width: 100%;
      }
   }
}
.checkbox {

   // .checkbox__input
   &__input {
      display: none;

      &:checked + .checkbox__label::after {
         transform: scale(1);
      } 
   } 

   &._error {
      .checkbox__label::before {
         box-shadow: 0 0 15px red;
      }
   }

   // .checkbox__label
   &__label {
      font-size: 16px;
      line-height: 140%;
      display: inline-flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      &::before {
         content: '';
         flex: 0 0 24px;
         align-self: flex-start;
         height: 24px;
         background-color: #888;
         border-radius: 4px;
         margin-right: 10px;
      }

      &::after {
         content: '';
         width: 16px;
         height: 16px;
         position: absolute;
         left: 4px;
         top: 4px;
         background-color: #06fa1e;
         border-radius: 4px;
         transform: scale(0);
         transition: all .3s;
      }
   }

}
