.popup-block {
   margin: 50px 0;
   padding: 20px 0;
   text-align: center;
   border: 1px solid #000;
   border-radius: 15px;
}
/* POPUP */
.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;

   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;

   transition: all .8s ease 0s;

   &__area {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
   }

   &__body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }

   &__content {
      color: #fff;
      max-width: 662px;
      padding: 50px 50px;
      background: #01040D;
      border-radius: 4px;
   
      position: relative;
      transition: all .8s ease 0s;
      opacity: 0;
      transform: translate(0px, -100%);
   }

   &__close {
      position: absolute;
      right: 15px;
      top: 15px;
   }

   &__img {
      img{
         min-width: 100%;
         height: 100%;
      }
   }

   &:target {
      opacity: 1;
      visibility: visible;

      .popup__content {
         transform: translate(0px, 0);
         opacity: 1;
      }
      
   }
}