// Breakpoint & Container
$containerWidth: 1080 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint930: 929.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$titleColor: #2962EF;
$subtitleColor : #232427;
$primary: #FAF9FA;
$secondary: #2962EF;
$blueDark: #1046ce;


// _Class
._text-center {
   text-align: center;
}

._title {
   font-size: 40px;
   line-height: 28px;
   text-transform: uppercase;
   color: $titleColor;
}

._subtitle {
   font-size: 20px;
   color: $subtitleColor;
}

